/* src/components/ContentCreate.css */
.content-create {
  padding: 20px;
}

.content-create h2 {
  font-size: 22px;
  color: #007bff;
  margin-bottom: 10px;
}

.content-create p {
  font-size: 15px;
  color: #333;
}
