/* src/components/HomepageCreate.css */
.homepage-create {
    padding: 20px;
  }
  
  .homepage-create h2 {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 10px;
  }
  
  .homepage-create p {
    font-size: 16px;
    color: #333;
  }
  